<p>manifeste works!</p>
<div class="form-property">
  <table style="width: 100%">
    <tbody><tr>
      <td><img src="https://www.firstdeliverygroup.com/fournisseur/images/logo.png" style="width: 130px; text-align: center"></td>
      <td><div style="text-align: center;font-size: 26px; border: 1px solid #000; padding-left: 0px; margin-left: 0px; font-weight: bold;">MANIFESTE Joelleshop</div></td>
      <td style="width: 25%"></td>
    </tr>
    </tbody></table>
  <table style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
    <tbody><tr>
      <td>
        <div><b>Nom</b> : Joelleshop</div>
        <div><b>Contact</b> : </div>
      </td><td>
      <div><b>Adresse</b> : mornagia manouba</div>
      <div><b>Téléphone</b> : 20989758/20972756</div>
    </td><td>
      <div><b>Code TVA</b> : /</div>
      <div><b>Date </b>: 2021-04-15</div></td>
    </tr>
    </tbody></table>




</div>
