#container {
  width: 100%;
}

#left {
  float: left;
  width: 100px;
}

#center {
  margin: 0 auto;
  width: 200px;
}

#right {
  float: right;
  width: 100px;
}

.img-circle {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-color: #d0e8ee;

}
