<h3 style="color: #0061f2"><i class="fa fa-angle-right" style="color: #0061f2"></i> Liste des colis en attente</h3>
<div class="example-header" fxLayout="row">
  <div class="search-div">
    <!--   <button mat-raised-button (click)="print()" title="Print">
          <mat-icon>add</mat-icon>Ajouter
        </button>-->
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Rechercher" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="printManifeste()" title="Imprimer manifeste">
      <i class="fas fa-print"></i> Imprimer manifeste
    </button>
    <button mat-raised-button color="warn" (click)="print()" title="Imprimer manifeste">
      <i class="fas fa-print"></i> impression multiple bons de livraison
    </button>
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Code"> {{row.codeBarre}} </mat-cell>
    </ng-container>
    <!-- ID Column -->


    <ng-container matColumnDef="date_ajout">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'ajout</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Date"> {{row.date_ajout | date:'shortDate' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom et Prénom</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Nom"> {{row.client.nom}} {{row.client.prenom}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Téléphone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Téléphone"> {{row.client.tel1}} <br> {{row.client.tel2}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Adresse">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse</mat-header-cell>
      <!-- <mat-cell *matCellDef="let row" data-label="Adresse" > {{getvillebyId(row.idVille) | json}} </mat-cell>-->
      <mat-cell *matCellDef="let row" data-label="Adresse"> {{row.idVille}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Prix">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prix en DT</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Prix"> {{row.prix | number :'1.3'  }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell style="text-align: center" *matCellDef="let row">
        <!--(click)="showModal(row.codeBarre)" -->
        <button mat-icon-button (click)="imprimer(row)" title="Imprimer">
          <mat-icon>print</mat-icon>
        </button>

        <!--
                <button mat-icon-button  (click)="getDetails(row)" title="Consulter"><mat-icon>visibility</mat-icon></button>
        -->
        <button mat-icon-button color="primary" *ngIf="row.etat.idEtat === 1"
                [routerLink]="['/temp/EditColis', row.codeBarre]" title="Modifier">
          <mat-icon>launch</mat-icon>
        </button>
<!--        <button mat-icon-button color="warn" *ngIf="row.etat.idEtat === 1" (click)="showModal(row.codeBarre)"
                title="Supprimer">
          <mat-icon>delete_outline</mat-icon>-->

        <button mat-icon-button color="warn" *ngIf="row.etat.idEtat === 1" (click)="onDelete(row.codeBarre)"
                title="Supprimer">
          <mat-icon>delete_outline</mat-icon>
        </button>

<!--                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation de la suppression</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                      <div class="modal-body">Etes-vous sûr de vouloir supprimer cet élément ?</div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" (click)="hideModal()" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-danger" (click)="onDelete(row.codeBarre)" data-dismiss="modal">Supprimer</a>
                      </div>
                    </div>

                  </div>
                </div>

        </button>-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!--  Row shown when there is no matching data.-->
    <!--   <mat-row *matNoDataRow>
         <mat-cell colspan="4">No data matching the filter </mat-cell>
       </mat-row>-->
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<div class="form-property" id="Manifeste" style="visibility: hidden">
  <table style="width: 100%">
    <tbody>
    <tr>
      <td><img src="assets/LogoJHL.png" style="width: 130px; text-align: center"></td>
      <td>
        <div class="title">MANIFESTE {{fournisseur.nomcommercial}}</div>
      </td>
      <td style="width: 25%"></td>
    </tr>
    </tbody>
  </table>
  <table style="width: 100%;margin-top: 20px;margin-bottom: 20px;">
    <tbody>
    <tr>
      <td>
        <div><b>Nom</b> : {{fournisseur.nomcommercial}}</div>
      </td>
      <td>
        <div><b>Adresse</b> : {{fournisseur.adresse.ville.nom}} / {{fournisseur.adresse.ville.gouvernorat.nom}}</div>
      </td>
      <td>
        <div><b>Téléphone</b> : {{fournisseur.tel}}</div>
      </td>
      <td>

        <div><b>Date </b>: {{myDate | date:'dd/M/yyyy'}}</div>
      </td>
    </tr>
    </tbody>

  </table>
  <table border="1" style="width: 100%">
    <tbody>
    <tr>
      <th class="th">CODE</th>
      <th class="th">PRIX</th>
      <th class="th">GOUVERNORAT</th>
      <th class="th">COORDONNES CLIENT</th>
      <th class="th">DESIGNATION</th>
    </tr>
    <tr *ngFor="let item of colis ">
      <td>{{item.codeBarre}}</td>
      <td>{{item.prix}}</td>
      <td>{{item.idVille}} </td>
      <td *ngIf="item.client.tel2 !== '' ">{{item.client.nom}} {{item.client.prenom}} <br> {{item.client.tel1}} / {{item.client.tel2}}</td>
      <td *ngIf="item.client.tel2 == '' ">{{item.client.nom}} {{item.client.prenom}} <br> {{item.client.tel1}} </td>
      <td>{{item.designation}}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <table border="0">
    <tr>
      <td style="width: 60%">
      </td>
      <td>
        <div><b>Total: {{colis.length}} colis </b></div>
      </td>
      <td>
        <div><b>Total: {{getSum()}}</b> DT</div>
      </td>

    </tr>
  </table>

</div>


<div class="x container " id="BonLivraison" style="visibility: hidden"
     *ngFor="let item of colis  ">

  <table class="pagebreak">
    <tbody>
    <tr>
      <td style="width: 20%;"><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="150px">
      <td style="width: 20%;"><img src="assets/LogoJHL.png" width="200px" alt="">
        <!--  <td ><div><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="150px"  ></div>-->
      </td>

      <td>
        <table style="margin-top: 20px;margin-left: 10%;margin-bottom: 40px;">
          <tbody>
          <tr>

            <td style="font-size: 17px;text-align: left;">

              <div><b>NOM DE L'EXPEDITEUR:</b> {{fournisseur.nomcommercial}}</div>
              <div><b>ADRESSE:</b> {{fournisseur.adresse.ville.nom}} {{fournisseur.adresse.ville.gouvernorat.nom}}
              </div>
              <div><b>TELEPHONE:</b> {{fournisseur.tel}}</div>

            </td>

          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table>
    <tbody>
    <tr>
      <td style="width: 20%;"></td>
      <td style="width: 60%">
        <div class="cadre">BON DE LIVRAISON N° {{item.codeBarre}} </div>
      </td>
      <td style="width: 20%;text-align: center"></td>
    </tr>
    </tbody>
  </table>

  <table style="margin-top: 20px;margin-bottom: 40px;">
    <tbody>
    <tr>
      <td>Date : {{item.date_ajout | date:'dd/M/yyyy'}}<br><br>

      </td>
      <td style="font-size: 17px; border: 1px solid #000; padding: 5px;">
        <div><b>NOM DE DESTINATAIRE:</b> {{item.client.nom}} {{item.client.prenom}} </div>
        <div><b>ADRESSE:</b> {{item.adressDispo}} {{item.nomville}} {{item.idVille}} </div>
        <div><b>TELEPHONE:</b> {{item.client.tel1}} / {{item.client.tel2}}</div>
      </td>
      <td style="width: 5%"></td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="item.nbArticleEchange === 0">
    <table border="1" style="width: 100%;margin-top: 20px;margin-bottom: 40px;font-size: 15px;">
      <tbody>
      <tr>
        <th style="width: 60%; text-align: center">Désignation</th>
        <th style="width: 10%;text-align: center">Quantité</th>
        <th style="width: 15%;text-align: center">Prix Unitaire</th>

        <th style="width: 15%; text-align: center">Montant Total HT</th>
      </tr>
      <tr>
        <td style="padding: 10px">{{item.designation}}<br>

          <br><br><br><br><br><br><br><br><br><br><br><br>
        </td>
        <td style="padding: 10px; text-align: center">{{item.nbArticle}}<br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>

        <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}<br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>
        <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }} <br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>
      </tr>
      </tbody>
    </table>

    <div style="text-align: right">
      <table style="width: 100%">
        <tbody>
        <tr>
          <td style="width: 50%">
            <table border="1" style="margin-top: 20px;margin-bottom: 20px; font-size: 25px; margin-right: 10px">

              <tbody>
              <tr>
                <td>Montant HT</td>
                <td>{{item.prix - ((item.prix * 19) / 100)| number :'1.3'  }}</td>
              </tr>
              <tr>
                <td>TVA 19%</td>
                <td>{{(item.prix * 19) / 100 | number :'1.3' }}</td>
              </tr>
              <tr>
                <td>Total en TTC</td>
                <td>{{item.prix| number :'1.3' }}</td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="border: 1px solid #000; text-align: left; width: 40%">
            <div></div>

          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div *ngIf="item.nbArticleEchange != 0">
    <table border="1" style="width: 100%;margin-top: 20px;margin-bottom: 40px;font-size: 15px;">
      <tbody>
      <tr>
        <th style="width: 60%; text-align: center">Désignation</th>
        <th style="width: 10%;text-align: center">Quantité</th>
        <th style="width: 15%;text-align: center">Prix Unitaire</th>

        <th style="width: 15%; text-align: center">Montant Total HT</th>
      </tr>
      <tr>
        <td style="padding: 10px">{{item.designation}} <br> <b>ECHANGE ( {{item.nbArticleEchange}} articles)</b>

          <br><br><br><br><br><br><br><br><br><br><br><br>
        </td>
        <td style="padding: 10px; text-align: center">{{item.nbArticleEchange}}<br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>

        <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}<br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>
        <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100)| number :'1.3'  }} <br>
          <br><br><br><br><br><br><br><br><br><br><br><br></td>
      </tr>
      </tbody>
    </table>

    <div style="text-align: right">
      <table style="width: 100%">
        <tbody>
        <tr>
          <td style="width: 50%">
            <table border="1" style="margin-top: 20px;margin-bottom: 20px; font-size: 25px; margin-right: 10px">

              <tbody>
              <tr>
                <td>Montant HT</td>
                <td>{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}</td>
              </tr>
              <tr>
                <td>TVA 19%</td>
                <td>{{(item.prix * 19) / 100| number :'1.3'  }}</td>
              </tr>
              <tr>
                <td>Total en TTC</td>
                <td>{{item.prix| number :'1.3' }}</td>
              </tr>
              </tbody>
            </table>
          </td>
          <td style="border: 1px solid #000; text-align: left; width: 40%">
            <div></div>
            <!--
                        <div style="text-align: center; margin-top: 10px"><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="250px" height="230px"  ></div>
            -->
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


<ng-template #tab>
  <div class="x container "
       *ngFor="let item of colis  ">

    <table class="pagebreak">
      <tbody>
      <tr>
        <td style="width: 20%;"><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="150px">
        <td style="width: 20%;"><img src="assets/LogoJHL.png" width="200px" alt="">
          <!--  <td ><div><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="150px"  ></div>-->
        </td>

        <td>
          <table style="margin-top: 20px;margin-left: 10%;margin-bottom: 40px;">
            <tbody>
            <tr>

              <td style="font-size: 17px;text-align: left;">

                <div><b>NOM DE L'EXPEDITEUR:</b> {{fournisseur.nomcommercial}}</div>
                <div><b>ADRESSE:</b> {{fournisseur.adresse.ville.nom}} {{fournisseur.adresse.ville.gouvernorat.nom}}
                </div>
                <div><b>TELEPHONE:</b> {{fournisseur.tel}}</div>

              </td>

            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <table>
      <tbody>
      <tr>
        <td style="width: 20%;"></td>
        <td style="width: 60%">
          <div class="cadre">BON DE LIVRAISON N° {{item.codeBarre}} </div>
        </td>
        <td style="width: 20%;text-align: center"></td>
      </tr>
      </tbody>
    </table>

    <table style="margin-top: 20px;margin-bottom: 40px;">
      <tbody>
      <tr>
        <td>Date : {{item.date_ajout | date:'dd/M/yyyy'}}<br><br>

        </td>
        <td style="font-size: 17px; border: 1px solid #000; padding: 5px;">
          <div><b>NOM DE DESTINATAIRE:</b> {{item.client.nom}} {{item.client.prenom}} </div>
          <div><b>ADRESSE:</b> {{item.adressDispo}} {{item.nomville}} {{item.idVille}} </div>
          <div><b>TELEPHONE:</b> {{item.client.tel1}} / {{item.client.tel2}}</div>
        </td>
        <td style="width: 5%"></td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="item.nbArticleEchange === 0">
      <table border="1" style="width: 100%;margin-top: 20px;margin-bottom: 40px;font-size: 15px;">
        <tbody>
        <tr>
          <th style="width: 60%; text-align: center">Désignation</th>
          <th style="width: 10%;text-align: center">Quantité</th>
          <th style="width: 15%;text-align: center">Prix Unitaire</th>

          <th style="width: 15%; text-align: center">Montant Total HT</th>
        </tr>
        <tr>
          <td style="padding: 10px">{{item.designation}}<br>

            <br><br><br><br><br><br><br><br><br><br><br><br>
          </td>
          <td style="padding: 10px; text-align: center">{{item.nbArticle}}<br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>

          <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}<br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>
          <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }} <br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>
        </tr>
        </tbody>
      </table>

      <div style="text-align: right">
        <table style="width: 100%">
          <tbody>
          <tr>
            <td style="width: 50%">
              <table border="1" style="margin-top: 20px;margin-bottom: 20px; font-size: 25px; margin-right: 10px">

                <tbody>
                <tr>
                  <td>Montant HT</td>
                  <td>{{item.prix - ((item.prix * 19) / 100)| number :'1.3'  }}</td>
                </tr>
                <tr>
                  <td>TVA 19%</td>
                  <td>{{(item.prix * 19) / 100 | number :'1.3' }}</td>
                </tr>
                <tr>
                  <td>Total en TTC</td>
                  <td>{{item.prix| number :'1.3' }}</td>
                </tr>
                </tbody>
              </table>
            </td>
            <td style="border: 1px solid #000; text-align: left; width: 40%">
              <div></div>

            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div *ngIf="item.nbArticleEchange != 0">
      <table border="1" style="width: 100%;margin-top: 20px;margin-bottom: 40px;font-size: 15px;">
        <tbody>
        <tr>
          <th style="width: 60%; text-align: center">Désignation</th>
          <th style="width: 10%;text-align: center">Quantité</th>
          <th style="width: 15%;text-align: center">Prix Unitaire</th>

          <th style="width: 15%; text-align: center">Montant Total HT</th>
        </tr>
        <tr>
          <td style="padding: 10px">{{item.designation}} <br> <b>ECHANGE ( {{item.nbArticleEchange}} articles)</b>

            <br><br><br><br><br><br><br><br><br><br><br><br>
          </td>
          <td style="padding: 10px; text-align: center">{{item.nbArticleEchange}}<br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>

          <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}<br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>
          <td style="padding: 10px; text-align: center">{{item.prix - ((item.prix * 19) / 100)| number :'1.3'  }} <br>
            <br><br><br><br><br><br><br><br><br><br><br><br></td>
        </tr>
        </tbody>
      </table>

      <div style="text-align: right">
        <table style="width: 100%">
          <tbody>
          <tr>
            <td style="width: 50%">
              <table border="1" style="margin-top: 20px;margin-bottom: 20px; font-size: 25px; margin-right: 10px">

                <tbody>
                <tr>
                  <td>Montant HT</td>
                  <td>{{item.prix - ((item.prix * 19) / 100) | number :'1.3' }}</td>
                </tr>
                <tr>
                  <td>TVA 19%</td>
                  <td>{{(item.prix * 19) / 100| number :'1.3'  }}</td>
                </tr>
                <tr>
                  <td>Total en TTC</td>
                  <td>{{item.prix| number :'1.3' }}</td>
                </tr>
                </tbody>
              </table>
            </td>
            <td style="border: 1px solid #000; text-align: left; width: 40%">
              <div></div>
              <!--
                          <div style="text-align: center; margin-top: 10px"><img src="http://localhost:8081/genrateQRCode/{{item.codeBarre}}" width="250px" height="230px"  ></div>
              -->
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</ng-template>

