
<h3 style="color: #0061f2"><i class="fa fa-angle-right" style="color: #0061f2"></i> Liste des colis en attente</h3>
<div class="example-header" fxLayout="row">
  <div class="search-div">
<!--    <button mat-raised-button (click)="onCreate()" title="Ajouter">
      <mat-icon>add</mat-icon>Ajouter
    </button>-->
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Rechercher" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort >
    <!-- ID Column -->
    <ng-container matColumnDef="Code">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Code"> {{row.codeBarre}} </mat-cell>
    </ng-container>
    <!-- ID Column -->


    <ng-container matColumnDef="date_ajout">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'ajout </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Date" > {{row.date_ajout | date:'shortDate' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom et Prénom </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Nom"> {{row.client.nom}} {{row.client.prenom}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Téléphone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Téléphone" > {{row.client.tel1}} <br> {{row.client.tel2}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Adresse">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </mat-header-cell>
     <!-- <mat-cell *matCellDef="let row" data-label="Adresse" > {{getvillebyId(row.idVille) | json}} </mat-cell>-->
      <mat-cell *matCellDef="let row" data-label="Adresse" > {{row.idVille}} </mat-cell>
   </ng-container>


    <ng-container matColumnDef="Prix">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prix en DT </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Prix"> {{row.prix  }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell style="text-align: center" *matCellDef="let row">
       <!-- <button mat-icon-button  (click)="getDetails(row)" title="Consulter"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button color="primary" (click)="onEdit(row)" title="Modifier"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row.idUtilisateur)"  title="Supprimer"><mat-icon>delete_outline</mat-icon></button>
-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!--  Row shown when there is no matching data.-->
    <!--   <mat-row *matNoDataRow>
         <mat-cell colspan="4">No data matching the filter </mat-cell>
       </mat-row>-->
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
