<button class="btn-primary" style="float: right" (click)="imprimer('FeuilleRoute')">Imprimer</button>
<!--
<button mat-icon-button (click)="imprimer('FeuilleRoute')" title="Imprimer">
-->

<div id="FeuilleRoute">
  <table  style="width: 90%; margin-left:11%;margin-top: 5%;font-size: 20px">
    <tr>
      <th>Date: {{feuilleroute.date | date:'dd/MM/y' }}</th>
      <th>Feuille de route</th>
      <th>Livreur : {{livreur.nom}} {{livreur.prenom}}</th>
    </tr>
  </table>

  <div>
    <table border="1" style="width: 80%; margin-left: 9%; margin-top: 3% ; height: 50px; text-align: center; font-size: 20px">
      <tr>
        <th>CodeBarre</th>
        <th>Nom et Prenom</th>
        <th>Num Tel</th>
        <th>Adresse</th>
        <th>Prix</th>
        <th>Etat</th>
      </tr>
      <tr *ngFor="let ligne of feuilleroute.ligneFeuilleRoute">
        <td><img src="http://localhost:8081/genrateQRCode/{{ligne.colis.codeBarre}}" width="100px">{{ligne.colis.codeBarre}}</td>
        <td>
          {{ligne.colis.client.nom}} {{ligne.colis.client.prenom}}
        </td>
        <td *ngIf="ligne.colis.client.tel2 !== ''">{{ligne.colis.client.tel1}} / {{ligne.colis.client.tel2}}</td>
        <td *ngIf="ligne.colis.client.tel2 == ''">{{ligne.colis.client.tel1}}</td>
        <td>{{ligne.colis.adressDispo}} {{ligne.colis.nomville}} {{ligne.colis.nomgouvernorat}}</td>
        <td>{{ligne.colis.prix}}</td>
        <td>{{ligne.colis.etat.titre}}</td>
      </tr>
    </table>
  </div>
</div>

