<div class="card">
  <div class="card-header">
    <strong class="card-title" style="color: #0061f2">Nouveau Feuille de route</strong>

    <button mat-raised-button color="primary" style="float: right;" (click)="AddFeuilledeRoute()">Créer une Feuile de route</button>
  </div>
  <div class="card-body">
    <!-- Credit Card -->
    <div id="pay-invoice">
      <div class="card-body">

        <div class="form-row " >
          <div class="form-group col-md-4 " >
            <label for="Livreur">Livreur</label>
            <select  [formControl]="Livreur"
                     class="form-control"
                     id="Livreur"
                     [ngClass]="{'is-invalid':Livreur&&Livreur.errors && Livreur.touched}">
              <option></option>
              <option *ngFor="let livreur of listLivreurs "   [ngValue]="livreur.idUtilisateur">
                {{livreur.nom}} {{livreur.prenom}}
              </option>
            </select>
            <div *ngIf="Livreur&&Livreur.hasError('required')"
                 class="invalid-feedback">
              Livreur est Obligatoire
            </div>
          </div>

          <div class="form-group col-md-4" >
            <label for="Gouvernorat">Gouvernorat</label>
            <select  [formControl]="Gouvernorat"
                     class="form-control" id="Gouvernorat"
                     (change)="GetColisByGouvernorat(Gouvernorat.value)">
              <option></option>
              <option *ngFor="let gov of listGouvernorat "  value="{{gov.nom}}"  >
                {{gov.nom}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4" >

            <label for="DateSortie" >Date de sortie</label>

            <input class="form-control" type="date"  [formControl]="DateSortie"  id="DateSortie"
                   [ngClass]="{'is-invalid':DateSortie&&DateSortie.errors && DateSortie.touched}">

            <div *ngIf="DateSortie&&DateSortie.hasError('required')"
                 class="invalid-feedback">
              DateSortie est Obligatoire
            </div>
          </div>
        </div>




        <!-- List Colis en Dépôt -->

<!--
        <h3 style="color: #0061f2"><i class="fa fa-angle-right" style="color: #0061f2"></i> Liste des colis </h3>
-->
<!--        <div class="example-header" fxLayout="row">
          <div class="search-div">
            &lt;!&ndash;   <button mat-raised-button (click)="print()" title="Print">
                  <mat-icon>add</mat-icon>Ajouter
                </button>&ndash;&gt;
            <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="searchKey" placeholder="Rechercher" autocomplete="off" (keyup)="applyFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"  (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

          </div>
        </div>-->
        <div class="example-container mat-elevation-z8">
          <mat-table  [dataSource]="dataSource" matSort >
            <!-- ID Column -->
            <ng-container matColumnDef="Code">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Code"> {{row.codeBarre}} </mat-cell>
            </ng-container>
            <!-- ID Column -->


            <ng-container matColumnDef="date_ajout">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'ajout </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Date" > {{row.date_ajout | date:'yyyy-MM-dd' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nom">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nom et Prénom </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Nom"> {{row.client.nom}} {{row.client.prenom}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Téléphone">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Téléphone" > {{row.client.tel1}} <br> {{row.client.tel2}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Gouvernorat">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Gouvernorat </mat-header-cell>
              <!-- <mat-cell *matCellDef="let row" data-label="Adresse" > {{getvillebyId(row.idVille) | json}} </mat-cell>-->
              <mat-cell *matCellDef="let row" data-label="Gouvernorat" > {{row.nomgouvernorat}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Ville">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Ville </mat-header-cell>
              <!-- <mat-cell *matCellDef="let row" data-label="Adresse" > {{getvillebyId(row.idVille) | json}} </mat-cell>-->
              <mat-cell *matCellDef="let row" data-label="Ville" > {{row.nomville}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Prix">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Prix en DT </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Prix"> {{row.prix | number :'1.3'}} </mat-cell>
            </ng-container>

            <ng-container  matColumnDef="Etat">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Etat </mat-header-cell>
              <mat-cell  *matCellDef="let row" data-label="Etat">

                <div *ngIf='row.etatTitre==="En Dépot"'>
                  <span class="badge badge-pill badge-info" style="font-size: small">{{row.etatTitre}}</span>
                </div>
                <div *ngIf='row.etatTitre==="A Vérifier"'>
                <span class="badge badge-pill badge-warning" style="font-size: small">{{row.etatTitre}}</span>
              </div>
                <div *ngIf='row.etatTitre==="Retour"'>
                  <span class="badge badge-pill badge-retour" style="font-size: small">{{row.etatTitre}}</span>
                </div>
                <div *ngIf='row.etatTitre==="Retour Fournisseur"'>
                  <span class="badge badge-pill badge-info" style="font-size: small">{{row.etatTitre}}</span>
                </div>

              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Fournisseur">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Fournisseur">
                <div *ngIf="row.idFournisseur === 0">
                  Par Administrateur
                </div>
                <div *ngIf="row.idFournisseur != 0">
                  {{row.nomfournisseur }}
                </div>

              </mat-cell>
            </ng-container>


            <ng-container  matColumnDef="select">
              <mat-header-cell style="margin-left: 2%" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null;"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell style="margin-left: 2%" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null;"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!--  Row shown when there is no matching data.-->
            <!--   <mat-row *matNoDataRow>
                 <mat-cell colspan="4">No data matching the filter </mat-cell>
               </mat-row>-->
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>


      </div>
    </div>

  </div>
</div>
