.sidenav .sidenav-menu .nav .sidenav-menu-nested {
  flex-direction: column;
  margin-left: 1.4375rem;
  border-left-style: solid;
  border-left-width: thin;
  padding-left: 0.5625rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.ScrollNotifHeight{
  overflow-y: scroll;
  height:440px;
}
.background-slide{
  background-color: #1da1f5 !important;
  background-image: linear-gradient(135deg, #1da1f5 0%, rgba(128, 57, 218, 0.8) 100%) !important;
}
