.badge-inverse{
  background-color: #abd912;
}
.badge-route{
  background-color: rgba(38, 182, 137, 0.89);
}
.badge-retour{
  background-color: #f35719;

}


.RetourFournisseur{
  background-color:#e0ac08 ;
}
.paddingEtat {
  padding-right: 35px;
}
.card-header{
  color: #0061f2;
  font-weight: 500;
}

.test > .pagination {
  justify-content: center !important;
}
.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}
