<strong class="card-title" style="color: #0061f2">Liste des feuilles de route</strong>


<mat-form-field style="width: 50%; margin-left: 30%">
  <input matInput [(ngModel)]="searchKey" placeholder="Rechercher" autocomplete="off" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Numero">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Numero</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Numero"> {{row.idFeuilleRoute}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Date"> {{row.date | date:'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DateSortie">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DateSortie</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Date"> {{row.dateSortie | date:'yyyy-MM-dd'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Livreur">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Livreur</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="Livreur"> {{row.idLivreur}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button [routerLink]="['/temp/Consulterfeuille', row.idFeuilleRoute]" title="Consulter">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="imprimer(row.idFeuilleRoute)" title="Imprimer">
          <mat-icon>print</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row)"
                title="Supprimer">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" style="text-align: center"><b style="color: red">Aucune feuille de route
        existe</b></td>
    </tr>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<div id="feuilleroute" style="display: none">


  <div>

    <table style="width: 90%; margin-left:11%;margin-top: 5%;font-size: 20px;">
      <thead>
      <tr>

        <th>Date: {{feuilleroute.date | date:'dd/MM/y' }}</th>
        <th>Feuille de Route</th>
        <th *ngIf="feuilleroute.idLivreur != null">Livreur : {{livreur.nom}} {{livreur.prenom}}</th>

      </tr>
      </thead>
    </table>


    <table border="1"
           style="width: auto; margin-left: 9%; margin-top: 3% ; height: auto; text-align: center; font-size: 20px; ">
      <thead>
      <tr>
        <th>CodeBarre</th>
        <th>Nom et Prenom</th>
        <th>Num Tel</th>
        <th>Adresse</th>
        <th>Prix</th>
        <th>Etat</th>
      </tr>
      </thead>
      <tbody *ngFor="let ligne of feuilleroute.ligneFeuilleRoute ; let i = index">
      <tr>

        <td><img src="http://localhost:8081/genrateQRCode/{{ligne.colis.codeBarre}}"
                 width="100px">{{ligne.colis.codeBarre}}</td>
        <td>
          {{ligne.colis.client.nom}} {{ligne.colis.client.prenom}}
        </td>
        <td *ngIf="ligne.colis.client.tel2 !== ''">{{ligne.colis.client.tel1}} / {{ligne.colis.client.tel2}}</td>
        <td *ngIf="ligne.colis.client.tel2 == ''">{{ligne.colis.client.tel1}}</td>
        <td>{{ligne.colis.adressDispo}} {{ligne.colis.nomville}} {{ligne.colis.nomgouvernorat}}</td>
        <td>{{ligne.colis.prix}}</td>
        <!--
                  <td>{{ligne.colis.etat.titre}}</td>
        -->
        <td></td>

      </tr>
      </tbody>

    </table>

  </div>


</div>

